NEXT_PUBLIC_APP_URL=http://localhost:3000
DATABASE_URL="postgresql://postgres.kdsfmmwmpdhtezwdqbnk:TraxiumTrax@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.kdsfmmwmpdhtezwdqbnk:TraxiumTrax@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL=https://kdsfmmwmpdhtezwdqbnk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtkc2ZtbXdtcGRodGV6d2RxYm5rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MDExMDgsImV4cCI6MjA4ODk3NzEwOH0.v2NR3S4UTQlf28JHc84SSMIPVMqQ03Bt5Dha7Ep9orQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtkc2ZtbXdtcGRodGV6d2RxYm5rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQwMTEwOCwiZXhwIjoyMDg4OTc3MTA4fQ.mH4OTobTs3Q-BFGP-zIvhfBTI2oQpLh8X4lFTEF4vUU
SUPABASE_STORAGE_BUCKET=evidence
SENTRY_DSN=